.services-wrapper {
  position: relative;
  .services-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25%;

    .service-content {
      margin-top: 30px;
      h5 {
        font-size: 36px;
        letter-spacing: 1.4px;
        font-weight: 300;
        line-height: 52px;
        margin-bottom: 20px;
        color: #404040;
        span {
          font-weight: 500;
        }
      }
    }
  }
}

.section-container {
  position: relative;
  height: 300vh;
  .sticky-container {
    position: sticky;
    top: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    .card-container {
      display: flex;
      .card {
        position: relative;
        height: 700px;
        width: 1000px;
        overflow: hidden;
        margin-top: 20px;

        &:hover::before {
          transform: scale(1.1);
        }

        .content {
          position: absolute;
          top: 50%;
          left: 30%;
          transform: translate(-20%, -50%);
          z-index: 10;
          display: grid;
          place-content: center;
          background-image: linear-gradient(
            to bottom right,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0)
          );

          .testimonials-pages {
            .testimonials-head {
              .testimonials-heading {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-bottom: 22px;
                img {
                  width: 42px;
                }
                h4 {
                  font-size: 20px;
                  font-weight: 300;
                  margin-bottom: -10px;
                }
              }
              .testimonials-description {
                margin-left: 52px;
                p {
                  font-size: 20px;
                  font-weight: 400;
                  line-height: 32px;
                }
              }
            }
          }
        }
      }
    }
  }
}
