.home-wrapper {
  height: 100vh;
  background-image: url("../../assets/images/background-img.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  .home-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 74px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    @media (max-width: 768px) {
      padding: 30px 45px;
    }
    @media (max-width: 420px) {
      padding: 25px 30px;
    }
    // .logo {
    //   display: flex;
    //   align-items: center;
    //   gap: 12px;
    //   img {
    //     width: 55px;
    //     height: 40px;
    //     object-fit: contain;
    //     @media (max-width: 768px) {
    //       width: 45px;
    //       height: 45px;
    //     }
    //   }
    //   .border {
    //     width: 1px;
    //     height: 18px;
    //     background: #303030;
    //   }
    //   h4 {
    //     font-size: 24px;
    //     font-family: "Poiret One", sans-serif;
    //     font-weight: 400;
    //     color: #000;
    //     @media (max-width: 768px) {
    //       font-size: 20px;
    //     }
    //   }
    // }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 64px;
      padding: 0 3.646vw;
      .logo {
        position: relative;
        img {
          position: absolute;
        }
        .img-1 {
          width: 175px;
          height: 60px;
          object-fit: contain;
        }
        .img-2 {
          width: 100px;
          height: 50px;
          object-fit: contain;
        }
      }
    }
    .menu-icon {
      cursor: pointer;
      img {
        width: 26px;
        @media (max-width: 768px) {
          width: 20px;
        }
      }
    }
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10px);
    flex-direction: column;
    @media (max-width: 768px) {
      margin: 0 26px;
    }
    @media (max-width: 420px) {
      margin: 0 32px;
      height: calc(100vh - -10px);
    }

    h4 {
      font-size: 60px;
      text-align: center;
      font-weight: 300;
      line-height: 90px;
      letter-spacing: 1.2px;
      @media (max-width: 1024px) {
        font-size: 45px;
        line-height: 60px;
      }
      @media (max-width: 768px) {
        font-size: 36px;
        line-height: 48px;
      }
      @media (max-width: 420px) {
        font-size: 32px;
        line-height: 42px;
      }
      span {
        font-weight: 500;
      }
    }

    p {
      text-align: center;
      margin-top: 32px;
      font-weight: 300;
      font-size: 24px;
      @media (max-width: 1024px) {
        font-size: 22px;
      }
      @media (max-width: 768px) {
        font-size: 18px;
      }
      @media (max-width: 420px) {
        font-size: 16px;
        margin-top: 48px;
      }
    }
  }
  .sound {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10000;
    img {
      width: 60px;
    }
  }
}
