.home-wrapper {
  height: 100vh;
  background-image: url("../../assets/images/background-img.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  .home-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 74px;
    .logo {
      display: flex;
      align-items: center;
      gap: 12px;
      img {
        width: 55px;
        height: 40px;
        object-fit: contain;
      }
      .border {
        width: 1px;
        height: 18px;
        background: #303030;
      }
      h4 {
        font-size: 24px;
        font-family: "Poiret One", sans-serif;
        font-weight: 400;
        color: #000;
      }
    }
    .menu-icon {
      cursor: pointer;
      img {
        width: 26px;
      }
    }
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 280px);
    flex-direction: column;

    // h4 {
    //   font-size: 60px;
    //   text-align: center;
    //   font-weight: 300;
    //   line-height: 90px;
    //   letter-spacing: 1.2px;
    //   span {
    //     font-weight: 500;
    //   }
    // }
    .flex-content {
      display: flex;
      align-items: center;
      gap: 16px;
      h2 {
        text-align: center;
        font-size: 60px;
        line-height: 1;
        font-weight: 300;
        letter-spacing: 1.2px;
        line-height: 75px;
        .hoverText {
          transition: 0.35s font-weight, 0.35s color;
          &:hover {
            font-weight: 900;
          }
        }
      }
      h3 {
        font-size: 60px;
        line-height: 1;
        font-weight: 500;
        letter-spacing: 1.2px;
        .hoverText {
          transition: 0.35s font-weight, 0.35s color;
          &:hover {
            font-weight: 900;
          }
        }
      }
    }
    .cursor {
      background: #000;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
    }

    p {
      text-align: center;
      margin-top: 32px;
      font-weight: 300;
      font-size: 24px;
    }
  }
  .sound {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10000;
    img {
      width: 60px;
    }
  }
}
