.design-content {
  h3 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 28px;
    letter-spacing: 1.6px;
  }
  p {
    font-size: 22px;
    line-height: 38px;
    color: #404040;
    font-weight: 600;
    letter-spacing: 0.8px;
  }
}
.second {
  display: flex;
  flex-direction: column;
  gap: 26px;

  .box {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    padding: 22px;
    border-radius: 20px;
    margin: 0 auto;
    width: fit-content;

    h2 {
      font-size: 20px;
      color: #d17406;
      font-weight: 500;
    }
    img {
      width: 42px;
      height: 42px;
      object-fit: contain;
    }
  }
}

.image {
  border-radius: 0.375rem;
  position: sticky;
  top: 50px;
  overflow: hidden;
  img {
    max-height: 600px;
    max-width: 600px;
    object-fit: contain;
  }
}
