@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poiret+One&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff4ec;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.mx {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
