.stickyScroll-wrapper {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 30px;

  &::-webkit-scrollbar {
    width: 0;
  }
  .stickyScroll-container {
    position: relative;
    .stickyScroll-content {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .content {
        max-width: 600px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        // height: 100vh;
        &:nth-child(1) {
          margin-top: 710px;
        }
        &:nth-child(2) {
          height: 100vh;
        }
        .title {
          font-size: 35px;
          font-weight: 600;
          margin-bottom: 28px;
          letter-spacing: 1.6px;
        }
        .description {
          font-size: 22px;
          line-height: 38px;
          color: #404040;
          font-weight: 600;
          letter-spacing: 0.8px;
        }
      }
    }
  }
  .image {
    border-radius: 0.375rem;
    position: sticky;
    top: 50px;
    overflow: hidden;
    img {
      max-height: 600px;
      max-width: 600px;
      object-fit: contain;
    }
  }
}
